/* style.css */

body {
    margin: 0;
    font-family: Verdana, "Hiragino Sans", 'Noto Sans JP', sans-serif;
}

header {
    padding: 2em; 
    background-color: #ff00a0;
}

main {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

img {
    width: 44px;
    height: 44px;
    padding: 8px;
}
